@media (max-width:640px){
    html,body{
        margin:0;
        padding:0;
    }
    .box div{
        width:150px;
        border:1px solid #ff0000;
    }
    .item1{
        order:2;
        height:120px;
    }
    .item2{
        order:3;
        height:100px;
    }
    .item3{
        order:4;
        height:40px;
    }
    .box .item4{
        order:1;
        height:200px;
        border:1px solid #0000ff;
    }
    .box{
        display:-webkit-flex;
        display:flex;
        border:1px solid #666666;
        padding:20px;
        flex-flow:row wrap;
        justify-content:space-between;
        align-items:flex-start;
    }
}
@media (min-width:641px){
    html,body{
        margin:0;
        padding:0;
    }
    .box{
        display:-webkit-flex;
        display:flex;
        border:1px solid #666666;
        padding:20px;
        flex-flow:row wrap;
        justify-content:space-between;
        align-items:center;
    }
    .box div{
        width:150px;
        border:1px solid #ff0000;
    }
    .item1{
        height:120px;
    }
    .item2{
        height:100px;
    }
    .item3{
        height:40px;
    }
    .box .item4{
        height:200px;
        border:1px solid #0000ff;
    }
}
