*{
    margin:0;
    padding:0;
}
li{
    list-style: none;
}
a{text-decoration: none;}
.table{
    display:table;
}
.table-cell{
    display:table-cell;
    vertical-align: middle;
}
.wrap{
    width:1280px;
    margin:0 auto;
}
section{
    width:100%;
}
header{
    width:100%;
}
header .wrap{
    height:58px;
    padding:0 60px;
    box-sizing: border-box;
}
.wrap .logo{
    float:left;
    height:100%;
    font-size:21px;
    color:#393a3a;
    font-family: 黑体,"Heiti TC", sans-serif;
    line-height: 58px;
}
.wrap .logo img{
    width:32px;
    height:32px;
    margin:13px 10px 0 0;
    float:left;
}
.wrap nav,.wrap .loginButtom{
    float:right;
    height:100%;
    line-height: 58px;
}
.wrap nav ul{
    height:100%;
}
.wrap nav li{
    float:left;
    height:100%;
    font-size:14px;
    font-family:"微软雅黑",sans-serif;
}
.wrap nav li a{
    height:100%;
    width:100%;
    padding:0 20px;
    color:#787b83;
    display:block;
}
.wrap nav li:hover a{
    color:#e74f4d;
}
.wrap nav li:hover {
    box-sizing:border-box;
    border-bottom:4px solid #e74f4d;
}
.wrap .loginButtom{
    height:100%;
    color:#e74f4d;
    cursor:pointer;
    font-size:14px;
    margin-left:10px;
    line-height:58px;
    font-family:"微软雅黑",sans-serif;
}
.wrap .loginButtom img{
    width:15px;
    height:20px;
    float:left;
    margin:18px 5px 0 19px;
}
main{
    display:block;
    min-height:1000px;
}
#banner{
    height:690px;
    background: url("images/1-banner.png") no-repeat;
}
#banner .banner-content{
    float:left;
    margin-left:116px;
    color:rgba(255,255,255,.8);
    font-family:"微软雅黑",sans-serif;
}
#banner .startButtom{
    width:330px;
    height:66px;
    line-height: 66px;
    margin-top:80px;
    text-align: center;
    font-size:30px;
    background-color:#e74f4d;
    letter-spacing: 3px;
    font-family:"微软雅黑",sans-serif;
    cursor:pointer;
}
#section2{
    height:250px;
    padding-top:45px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#section2 .section2-content{
    width:100%;
    height:140px;
}
#section2 .section2-content .content-box{
    width:25%;
    float:left;
}
#section2 .content-img{
    width:42px;
    height:42px;
    margin:0 auto;
}
#section2 .content-text{
    height:54px;
    width:100%;
    font-size:14px;
    color:#767777;
    line-height: 18px;
    text-align: center;
    margin-top:45px;
    padding:0 25%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 黑体,"Heiti TC",sans-serif;
}
#section2 .content-box:not(:last-child) .content-text{
    border-right:2px solid #bbbbbb;
}
#section3{
    height:368px;
    background-color: #edecec;
    position:relative;
}
#section3 .section3-content{
    top:50%;
    position:absolute;
    width:100%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
#section3 .content-img{
    width:92px;
    height:92px;
    margin:0 auto;
}
#section3 .content-text{
    margin-top:45px;
    width:100%;
    color:#a1a1a1;
    font-size:54px;
    text-align: center;
    font-family: 黑体, "Heiti TC",sans-serif
}